html, body {background-color: #000; color: #777;}
body {padding: 20px 15px;}
img {max-width: 99%;}
span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {visibility: hidden;}
#wrap {padding: 15px 15px 0 15px; background-color: #333; border: 2px solid #444;}
h1 {color: #999;}
#site-description {font-weight: bold; color: #777; text-align: center;}
#qr_editor_div h2 {margin-top: 0.2em; text-align: center;}

h2, h2.solo, .panel h2, .content h2, h3, .postbody, .content, .postprofile, .panel, .panel .content, dl.details dt, dd label, .faq dt strong, label, fieldset dl:hover dt label, dl.details dd, table.table1 td, #cp-main table.table1 thead th, dl.mini dt, .copyright, #minitabs li.activetab span, fieldset.polls dl.voted {color: #777;}
.content h2, .panel h2, h3, ul.navlinks, li.row:hover dd, .rtl li.row:hover dd, #cp-main h3, #cp-main hr, #cp-menu hr, #gallery label, .attachbox, .attach-image img {border-color: #444;}
hr, hr.dashed, .signature, .notice, .attachbox dd, fieldset.polls dl, table.table1 tbody td {border-top-color: #444;}
ul.cplist {border-top-color: #111;}

.headerbar, .forabg, .forumbg {background: #222; border: 2px solid #444;}
.forumbg table.table1 {margin: 0;}
#search-box {padding: 15px; border: 2px solid #444;}
.navbar, .post, .panel {border: 2px solid #444;}
div.rules, p.rules {background: #510; border: 2px solid #444; color: #999;}
p.rules img {padding: 1px 0;}
ul.forums, ul.topics {background: #2b2b2b; border: 2px solid #444;}
ul.topiclist dd, .postprofile, .pm .postprofile {border-left-color: #444;}
.rtl ul.topiclist dd, .rtl .postprofile, .rtl .pm .postprofile {border-right-color: #444;}
ul.topiclist li, li.row strong, #cp-main h2, #minitabs li a {color: #777;}
li.header dt {text-align: center;}
li.row, #cp-main .panel li.row {border-top-color: #444; border-bottom-color: #000;}
li.row:hover, table.table1 tbody tr:hover, table.table1 tbody tr.hover {background-color: #2d2d2d;}
li.reported, li.reported:hover {background-color: #510 !important;}

#topicreview {float: right; position: relative; width: 99.9%;}
* html #topicreview {float: none; position: static; width: auto;}
#cp-main .panel, #cp-main #preview, .cp-mini {background-color: #333; border: 2px solid #444;}
#cp-main .panel dl.panel, .panel dl.panel {background: #2d2d2d; border: 0;}
#tabs {margin-left: 10px;}
#tabs a {background: #222; border: 2px solid #444;}
#tabs a span {background: transparent; color: #777;}
#tabs a:hover, #tabs a:hover span, #tabs .activetab a, #tabs .activetab a span, #navigation a:hover, .rtl #navigation a:hover {background-color: #333; color: #999;}
#tabs .activetab a:hover, #tabs .activetab a:hover span {background-color: #222; color: #aaa;}
#navigation a {background: #222; border: 2px solid #444; margin-right: -1px; border-right: 0; color: #777;}
.rtl #navigation a {background: #333; margin-right: 0; border-right: 2px solid #666; border-left: 0;} 
#navigation #active-subsection a {background-color: #333; border: 2px solid #444; border-right: 0; color: #999;}
.rtl #navigation #active-subsection a {border-right: 2px solid #555; border-left: 0;}
#navigation #active-subsection a:hover {background-color: #222; color: #aaa;}
.rtl #navigation #active-subsection a:hover {border-right: 2px solid #555; border-left: 0;}
#minitabs {margin-right: 10px;}
#minitabs li {background: #222; border: 2px solid #444; border-bottom: 0; color: #aaa;}
#minitabs li.activetab {background-color: #333; border: 2px solid #444; border-bottom: 0;}
#cp-main .bg1.pm-message-nav {background: transparent; border-bottom-color: transparent;}
.pmlist li.pm_foe_colour, .pm_foe_colour {border-color: #900292;}
.clearfix {overflow: visible; margin-bottom: 4px;}

.bg1 {background-color: #252525;}
.bg2, .panel.bg2 {background-color: #292929;}
.bg3, .navbar, .panel, #search-box {background-color: #2d2d2d;}

a:link, #search-box a:link, a.forumtitle, a.topictitle, .postprofile a:link, .postprofile dt.author a, .search .postprofile a, #message-box textarea {color: #999;}
a:visited, #search-box a:visited, a.forumtitle, a.topictitle, .postprofile a:visited, .postprofile strong {color: #888}
a:hover, #search-box a:hover, a.forumtitle:hover, a.topictitle:hover, a.left:hover, a.right:hover, .postprofile a:hover, .postprofile dt.author a:hover, .search .postprofile a:hover {color: #aaa;}
a:active , #search-box a:active, a.forumtitle:active, a.topictitle:active, .postprofile a:active, fieldset.polls dd div {color: #aaa;}
li.header dt, li.header dd, table.table1 thead th, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {color: #999;}
.navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {color: #aaa;}
.post:target h3 a, .post:target .content, .current {color: #999 !important;}
.postlink {border-bottom-color: #888; color: #999;}
.postlink:visited {border-bottom-color: #666; color: #888;}
.postlink:hover, .postlink:active {background-color: #000; color: #aaa;}

a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active, input.button1, input.button2, input.button3 {background: #222; border: 1px solid #444; color: #777;}
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover, .posthilit {background: #000; border: 1px solid #555; color: #999;}
select, .inputbox, fieldset.quick-login input.inputbox {background: #313131; border: 1px solid #444; color: #999;}
.inputbox:hover, .inputbox:focus, #search-box input, fieldset.quick-login input.inputbox:hover, fieldset.quick-login input.inputbox:focus {border: 1px solid #555;}
.inputbox:focus, #cp-main .panel li.header dd, #cp-main .panel li.header dt, #minitabs li a:hover {color: #999;}

blockquote {background-color: #222; border: 1px solid #444; color: #999;}
blockquote blockquote {background-color: #111;}
blockquote blockquote blockquote, #gallery label {background-color: #222;}
#search-box #keywords, .attachbox {background-color: #000;}
dl.codebox, #gallery label:hover {background-color: #000; border-color: #444;}
dl.codebox dt, #cp-main table.table1 thead th, #tabs .activetab a {border-bottom-color: #444;}
dl.codebox code, .attachbox p, .attachbox p.stats, dl.file dd {color: #888;}

.pollbar1 {background-color: #333; border-bottom-color: #444; border-right-color: #444;}
.rtl .pollbar1 {border-left-color: #444;}
.pollbar2 {background-color: #444; border-bottom-color: #555; border-right-color: #555;}
.rtl .pollbar2 {border-left-color: #555;}
.pollbar3 {background-color: #555; border-bottom-color: #666; border-right-color: #666;}
.rtl .pollbar3 {border-left-color: #666;}
.pollbar4 {background-color: #666; border-bottom-color: #777; border-right-color: #777;}
.rtl .pollbar4 {border-left-color: #777;}
.pollbar5 {background-color: #777; border-bottom-color: #888; border-right-color: #888;}
.rtl .pollbar5 {border-left-color: #888;}

.pagination span strong, .row .pagination span a, li.pagination span a {color: #aaa; background-color: #000; border-color: #777;}
.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {color: #888; background-color: #333; border-color: #555;}
.pagination span a:hover, .row .pagination span a:hover, li.pagination span a:hover {color: #bbb; background-color: #000; border-color: #777;}
fieldset.jumpbox {clear: both;}