<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  {%- feed_meta -%}

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.wheybags.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  <meta property="og:image" content="https://freeablo.org/assets/banner.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@freeablo">
  <meta name="twitter:creator" content="@freeablo">
  <meta name="twitter:image" content="https://freeablo.org/assets/banner.jpg">
  <meta name="twitter:description" content="Freeablo: FOSS Diablo 1 game engine">

<link href="{{ "assets/vollkorn.css" | relative_url }}" rel="stylesheet" type="text/css">
 <link href="{{ "assets/css/foundation.min.css" | relative_url }}" rel="stylesheet" type="text/css">
  <link href="{{ "assets/css/foundation-icons.css" | relative_url }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">


  <script src="{{ "assets/js/vendor/modernizr.js" | relative_url }}"></script>
  <script src="{{ "assets/js/vendor/jquery.js" | relative_url }}"></script>

</head>
