<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
	
    <div id="blog">
        <div class="row">
            <div class="small-12 columns">
        			{{ content }}
            </div>
        </div>
    </div>


    {%- include footer.html -%}

  </body>

</html>
