---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">
        Recent News
        <a href="{{ "feed.xml" | relative_url }}">
            <img class="rssicon" src="{{ "assets/rss.png" | relative_url }}"></img>
        </a>
    </h2>
    <ul class="post-list" id="posts">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <h4 class="post-meta subheader">Posted {{ post.date | date: date_format }}</h4>
          {{ post.content }}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
